<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせフォーム</title>
</head>
<body>

<h1>お問い合わせフォーム</h1>

<form action="inquery_finished" th:action="@{/inquery/inquerySubmit}" method="post">

<label for="name">
1.氏名:
</label>
<input name="name" type="text" id="name"><br>
<br>
<label for="mail">
2.メールアドレス:
</label>
<input name="mail" type="email" id="mail"><br>
<br>
<label for="tell">
3.電話番号:
</label>
<input name="tell" type="text" id="tell"><br>
<br>
<label for="inquery">
4.お問い合わせ内容:
</label><br>
<textarea name="inquery" id="inquery" rows="10" cols="35"></textarea><br>

<button>送信</button>

</form>
</body>
</html>